<div class="w-full h-32 banner-color"></div>
<div class="grid grid-col justify-items-center -mt-24">
  <header class="">
    <h1 class="page-header">
      How to play
    </h1>
    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      A small guide to the game for anyone who didn't grow up in the 90s.
    </p>
  </header>
  <article class="mt-8 text-justify space-y-4">
    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      A Tamagotchi is a virtual pet you can take care of. This one starts as a baby and evolves once — but how it evolves depends entirely on you.
    </p>

    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      Your pet can get <strong>sick</strong>, so you’ll need to give it medicine. It can become <strong>hungry</strong>, so be sure to feed it. Sometimes it just wants attention — and you must respond in time.
    </p>

    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      If it’s feeling low, play with it to raise its happiness. But be careful — playing too much will exhaust it!
    </p>

    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      <em>What happens if you don’t take care of it in time?</em> It dies.
    </p>

    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed">
      And that’s the core principle of the game. Enjoy!
    </p>
  </article>
</div>
