<div class="mx-auto max-w-full">
  <section class="flex flex-col items-center text-center">
    <header class="text-center">
      <h1 class="page-header">
        Choose your critter
      </h1>
      <p class="p-4 mb-16 text-2xl text-purple-900 dark:text-purple-100">
        Here is a list of critters from which you can choose from.
      </p>
    </header>
  </section>
  <ul class="w-full text-purple-900 dark:text-purple-100 flex flex-col justify-evenly font-medium md:flex-row md:space-x-8 rtl:space-x-reverse">
    <li class="">
      <a routerLink="/game" class="link">
        <div class="group relative w-[256px] h-[128px]">
          <img data-cy="chiikawa_default"
               ngSrc="/assets/chiikawa/chiikawa_select.PNG"
               class="w-full h-full object-contain image-render-pixel group-hover:opacity-0 transition-opacity duration-200"
               alt="Chiikawa's face. Select for chiikawa pets." height="128" width="256">
          <img data-cy="chiikawa_hover"
            ngSrc="/assets/chiikawa/chiikawa_selected.PNG"
               class="absolute inset-0 w-full h-full object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-200 image-render-pixel"
               alt="Chiikawa's face but now shows them laughing. Selecting for chiikawa pets." height="128" width="256">
        </div>
        <p class="mt-2 text-sm text-center">Chiikawa</p>
      </a>
    </li>
    <li class="">
      <div class="group relative w-[256px] h-[128px]">
        <img ngSrc="/assets/decepticon.PNG"
             class="w-full h-full object-contain group-hover:opacity-0 transition-opacity duration-150 image-render-pixel"
             alt="Decepticon symbol" height="128" width="256">
        <img ngSrc="/assets/autobots.PNG"
             class="absolute inset-0 w-full h-full object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-200 image-render-pixel"
             alt="Autobot symbol" height="128" width="256">
      </div>
      <p class="mt-2 text-sm text-center">Transformers (Coming soon)</p>
    </li>
    <li class="">
      <div class="group relative w-[256px] h-[128px]">
        <img ngSrc="/assets/construction_dog.PNG"
             class="w-full h-full object-contain image-render-pixel"
             alt="A dog with hammer and sickle (visual easter egg as a joke between the two devs).
             Over its head is written: 'Under maintenance'." height="128" width="256">
      </div>
      <p class="mt-2 text-sm text-center">More coming..</p>
    </li>
  </ul>
</div>

