<div class="login-form">
  <ng-container *ngIf="!(isLoggedIn$ | async); else loggedInTemplate">
    <form
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      novalidate
    >

      <!-- USERNAME -->
      <label for="username">Username</label>
      <br />
      <input
        required
        name="username"
        id="username"
        type="text"
        #username="ngModel"
        [(ngModel)]="form.username"
        [ngClass]="{ 'is-invalid': username.invalid && f.submitted }"
      />
      <div *ngIf="username.errors && (username.dirty || username.touched || f.submitted)" class="invalid-feedback">
        <div *ngIf="username.errors['required']">Username is required</div>
        <div *ngIf="username.errors['minlength']">Username must be at least 5 characters</div>
        <div *ngIf="username.errors['maxlength']">Username must be at most 15 characters</div>
      </div>
      <br />

      <!-- PASSWORD -->
      <label for="password">Password</label>
      <br />
      <input
        required
        name="password"
        id="password"
        type="password"
        minlength="8"
        #password="ngModel"
        [(ngModel)]="form.password"
        [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched || f.submitted) }"
      />
      <div *ngIf="password.errors && (password.dirty || password.touched || f.submitted)" class="invalid-feedback">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
      </div>
      <br /><br />

      <button type="submit" id="submit-button">Login</button>

      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-warning">
        Login failed!<br />{{ errorMessage }}
      </div>
    </form>
  </ng-container>

  <ng-template #loggedInTemplate>
    <div class="alert alert-success">Logged in!</div>
  </ng-template>
</div>
