<div id="app">
  <nav class="sticky top-0 left-0 flex justify-between basis-full bg-sky-50 py-4">
    <a href="#" class="justify self-center p-2">CuteComputerCritter</a>
    <ul class="flex flex-row justify-stretched" routerLinkActive="active">
      <li class="">
        <a href="/home" class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="">
        <a href="/how-to-play" class="nav-link" routerLink="how-to-play">How To Play</a>
      </li>
      <li class="">
        <a href="/support" class="nav-link" routerLink="support">Support</a>
      </li>
      <li class="">
        <a href="/about-us" class="nav-link" routerLink="about-us">About Us</a>
      </li>
    </ul>
    <ul class="flex flex-row" *ngIf="!(isLoggedIn$ | async); else loggedIn">
      <li class="">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
    </ul>

    <!--TEMPLATE-->
    <ng-template #loggedIn>
      <ul class="">
        <li class="nav-item">
          <a routerLink="/profile" routerLinkActive="active" class="nav-link">{{ username }}</a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link btn btn-link">Log Out</button>
        </li>
      </ul>
    </ng-template>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="static bottom-0 left-0 flex basis-full bg-sky-50">
    <ul>
      <li>Home</li>
      <li>How to Play</li>
      <li>Meet the critters</li>
      <li>DevUpdates</li>
      <li>About us</li>
      <li>Logout</li>
    </ul>
  </footer>
</div>
