<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">CuteComputerCritter</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Profile </a>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!(isLoggedIn$ | async); else loggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

    <!--TEMPLATE-->
    <ng-template #loggedIn>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/profile" routerLinkActive="active" class="nav-link">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="logout()" class="nav-link">Log Out</a>
        </li>
      </ul>
    </ng-template>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <ul>
      <li>Home</li>
      <li>How to Play</li>
      <li>Meet the critters</li>
      <li>DevUpdates</li>
      <li>About us</li>
      <li>Logout</li>
    </ul>
  </footer>
</div>
