<div class="flex w-full flex-grow flex-col items-center">
  <div class="w-full h-32 banner-color"></div>
  <section class="-m-24 flex flex-col items-center text-center">
    <header class="">
      <h1 class="p-8 text-8xl text-purple-950 dark:bg-purple-50">
        Cute Computer Critters
      </h1>
      <p class="p-4 text-2xl text-purple-900 dark:text-purple-100">Are you bored? Do you like pets?<br>
        Click the link below to meet your new virtual pet!</p>
    </header>
    <a routerLink="/game-landing" class="mt-8 btn-primary">Meet your pet</a>
  </section>
</div>
