<div>
  <div class="w-full h-32 banner-color"></div>
  <header class="text-center -mt-24 mb-16">
    <h1 class="page-header">Updates page</h1>
    <p class="p-4 text-2xl text-purple-900 dark:text-purple-100">Plans for the future and regular updates will be displayed here.</p>
  </header>
</div>
<div class="grid grid-cols-3 grid-rows-3 relative gap-8">
  <section class="col-start-2">
    <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed text-justify">
      Work in progress. Page left unfinished. Nothing to see here.
    </p>
  </section>
</div>
