<div class="flex w-full flex-grow flex-col items-center">
  <div class="w-full h-32 bg-opacity-25 bg-purple-500"></div>
  <section class="-m-24 flex flex-grid items-center text-center">
    <img ngSrc="/assets/avatar.PNG"
         class="w-[512px] h-[512px] object-scale-down image-render-pixel"
         alt="Mascot of the dev team: A small crudely drawn puppy with barely ledgible writing next to it.
                It reads 'Shchen', which is short for 'Shchenok'. It's Russian for the word 'puppy'"
         height="512" width="512">
    <header class="">
      <h1 class=".header-hero">
        About us
      </h1>
      <p class=".header-detail">Two idiots and a dream</p>
    </header>
  </section>
</div>
