<!--site footer pulled from flowbite "social media icons"-->
<footer
  class="footer-custom"
>
  <!--div applies to entirety of footer content-->
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <!--logo segment changed from template-->
      <div class="mb-6 md:mb-0">
        <a
          routerLink="/home"
          class="self-center whitespace-nowrap text-2xl font-semibold"
        >
          CuteComputerCritter
        </a>
      </div>
      <!--sitemap link section-->
      <div
        class="grid grid-cols-2 gap-8 font-medium sm:grid-cols-3 sm:gap-6"
      >
        <!--first column of sitemap links-->
        <div>
          <ul class="">
            <li class="mb-4">
              <a routerLink="/home" class="">Home</a>
            </li>
            <li class="mb-4">
              <a routerLink="/how-to-play" class=""
              >How To Play</a
              >
            </li>
            <li class="mb-4">
              <a routerLink="/support" class="">Support</a>
            </li>
            <li class="mb-4">
              <a routerLink="/login" class="">Account Login</a>
            </li>
            <li>
              <a
                routerLink="/overview-critters"
                class=""
              >Overview critters</a
              >
            </li>
          </ul>
        </div>
        <!--second column of sitemap links-->
        <div>
          <ul>
            <li class="mb-4">
              <a routerLink="/about-us" class=""
              >About Us</a
              >
            </li>
            <li class="mb-4">
              <a routerLink="/updates" class="">Updates</a>
            </li>
            <li class="mb-4">
              <a routerLink="/privacy-policy" class=""
              >Privacy Policy</a
              >
            </li>
            <li class="mb-4">
              <a
                routerLink="/terms-and-conditions"
                class=""
              >Terms & Conditions
              </a>
            </li>
            <li>
              <select [(ngModel)]="selectedTheme"
                      (ngModelChange)="onThemeChange($event)"
                      class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white text-sm font-medium">
                <option value="dark" class="text-sm font-medium text-gray-600">
                  🌙Dark
                </option>
                <option value="light" class="text-sm font-medium text-gray-600">
                  ☀️Light
                </option>
                <option value="system" class="text-sm font-medium text-gray-600">
                  🖥️System
                </option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
