<!--site footer pulled from flowbite "social media icons"-->
<footer
  class="relative bottom-0 left-0 w-full border-t border-gray-200 bg-sky-50"
>
  <!--div applies to entirety of footer content-->
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <!--logo segment changed from template-->
      <div class="mb-6 md:mb-0">
        <a
          href="#"
          class="self-center whitespace-nowrap text-2xl font-semibold text-sky-950"
        >
          CuteComputerCritter
        </a>
      </div>
      <!--sitemap link section-->
      <div
        class="grid grid-cols-2 gap-8 font-medium text-gray-500 sm:grid-cols-3 sm:gap-6"
      >
        <!--first column of sitemap links-->
        <div>
          <ul class="">
            <li class="mb-4">
              <a href="/home" class="" routerLink="home">Home</a>
            </li>
            <li class="mb-4">
              <a href="/how-to-play" class="" routerLink="how-to-play"
              >How To Play</a
              >
            </li>
            <li class="mb-4">
              <a href="/support" class="" routerLink="support">Support</a>
            </li>
            <li class="mb-4">
              <a href="/login" class="" routerLink="login">Account Login</a>
            </li>
            <li>
              <a
                href="/overview-critters"
                class=""
                routerLink="overview-critters"
              >Overview critters</a
              >
            </li>
          </ul>
        </div>
        <!--second column of sitemap links-->
        <div>
          <ul>
            <li class="mb-4">
              <a href="/about-us" class="nav-link" routerLink="about-us"
              >About Us</a
              >
            </li>
            <li class="mb-4">Accessibility</li>
            <li class="mb-4">
              <a href="/updates" class="" routerLink="updates">Updates</a>
            </li>
            <li class="mb-4">
              <a href="/privacy-policy" class="" routerLink="privacy-policy"
              >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="/terms-and-conditions"
                class=""
                routerLink="terms-and-conditions"
              >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
