<div class="flex w-full flex-grow flex-col items-center">
  <div class="w-full h-32 banner-color"></div>
  <section class="grid grid-cols relative gap-8 -mt-24">
    <header class="justify-self-start">
      <h1 class="page-header">
        Support
      </h1>
    </header>
    <article class="text-center px-4 md:px-16">
      <p class="text-xl text-purple-900 dark:text-purple-100 max-w-4xl mx-auto leading-relaxed text-justify">
        This is a project in progress, so of course, there will be bugs or issues.
        If you would like to contribute or complain, feel free to check out our
        <a href="https://github.com/XwX-J0sh/CuteComputerCritters" class="text-pink-600 hover:text-pink-700 hover:underline underline-offset-2 transition" target="_blank" >github repository</a>.
        Other than that you could mail at us via totallyreal&#64;gmail.com
      </p>
    </article>
  </section>
</div>

